#portraits
  .role
    = image_tag "about_us/jordan.jpg"
    %p Jordan is Managing&nbsp;Director and is&nbsp;in&nbsp;charge of&nbsp;all&nbsp;things&nbsp;strategy, sales and&nbsp;marketing.
  .role
    = image_tag "about_us/lauren.jpg"
    %p Lauren is Creative&nbsp;Director and&nbsp;takes&nbsp;care of&nbsp;everything related&nbsp;to&nbsp;production, creative and&nbsp;studio.
