#about-us
  .masthead
    %h1 About Us

  %section#brief
    .container

      .image
        .vertical-align
          = image_tag "about_us/lauren_jordan.jpg"
      .text
        %p Hello, we're Jordan&nbsp;Michaelides and Lauren&nbsp;Lopatko, co-founders of&nbsp;Neuralle and&nbsp;partners&nbsp;in&nbsp;life.
        %p We are “High&nbsp;School&nbsp;sweethearts” who bonded immediately over a&nbsp;passion for&nbsp;design, persuasion, new&nbsp;ideas and&nbsp;unique&nbsp;experiences. We&nbsp;stand here&nbsp;today, 10&nbsp;years&nbsp;later, as&nbsp;partners in&nbsp;crime with a&nbsp;media&nbsp;business that&nbsp;utilises the&nbsp;best of&nbsp;both&nbsp;of&nbsp;us – for&nbsp;you.
        %p Originally formed as a podcast, Neuralle has grown into a specialised content production business that focuses on audio & video production.
        %p When one of our very first clients reached out for help to create and distribute their own podcast, the idea for Neuralle Media and the business was born.
      .clearfix

  %section#roles
    .container
      = render "roles"
