%section#intro
  %h2 How this works

  .row
    .tile-wrapper
      .intro-tile.brief
        %span.number 1.
        %h3 Tell us Your&nbsp;Needs
        %hr
        %p.subtitle Give us an overview of your situation and goals for your content production.

    .tile-wrapper
      .intro-tile.customize
        %span.number 2.
        %h3 Customize your&nbsp;Options
        %hr
        %p.subtitle Select the type of content you’re after, the quantity and specific details.

    .tile-wrapper
      .intro-tile.review
        %span.number 3.
        %h3 Review your&nbsp;Package
        %hr
        %p.subtitle Based on your answers and selections, review your package.

        .clearfix
