%section#social-distribution
  %h2 Social Media Distribution
  %p.centered-text Neuralle&nbsp;Media can take care of the considerable effort involved in managing or distributing your newly created media. Select your preferred social channel to distribute across, and we'll&nbsp;handle&nbsp;the&nbsp;rest.

  .row
    .col-md-4
      .sliders-explanation
        %p This distribution service is best suited for clients who'd like Neuralle to handle distribution of newly created content. When you're creating videos for your podcast or product launches, it's best to distribute across multiple platforms at a time. We handle the effort in selecting the right time and hashtags to post across.
        %p Select how many social media channels and how many videos/images you'd like posted. This includes uploading and hashtagging per post.
    .col-md-8#distribution-sliders.sliders-wrapper
      = render "orders/distribution_sliders"
      .clearfix
