#apps
  .app-wrapper
    .app
      .app-bg#custom-briefing
      %h5 Custom Briefing
  .app-wrapper
    .app
      .app-bg#video-editing
      %h5 Video Editing
  .app-wrapper
    .app
      .app-bg#audio-engineering
      %h5 Audio Engineering
  .app-wrapper
    .app
      .app-bg#graphic-design
      %h5 Graphic Design
  .app-wrapper
    .app
      .app-bg#social-media
      %h5 Social Media Management
  .app-wrapper
    .app
      .app-bg#content-media
      %h5 Content Media Delivery
  .clearfix
