@mixin shrink_header {
  .nav-toggle .fa {
    padding: 15px 25px;
  }
  .navbar-default {
    padding: 5px 0 7px;
    height: 57px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
  .logo {
    font-size: 3.2rem;
    margin: -2px 0 0;
  }
}

#site_bar {
  position: relative;
  &.nav-toggled {
    z-index: 1000;
  }
  a {
    border: none;
  }
}

header#header {
  height: auto;
  position: relative;

  .navbar-header {
    width: 100%;
    text-align: center;

    ul {
      display: inline-block;
      margin: 0 20px;

      li {
        margin: 0 15px;
        a {
          padding: 0 0 1px;
          vertical-align: 20%;
          color: white;
          font-family: $heading_font;
          &:hover {
            opacity: 0.6;
          }
          &.active {
            border-bottom: 1px solid;
          }
        }
      }
    }

    @media (max-width: 767px) {
      margin-left: auto;
    }
  }

  .logo {
    font-family: "Quicksand", sans;
    font-size: 4.2rem;
    color: white;
    margin: auto;
    display: inline-block;
    @include transition(all, 0.2s, ease);
  }

  &.shrinked {
    @include shrink_header;
  }

  &.site-bar-scrolled {
    position: absolute;
    top: 0;
  }

  a {
    border: none;
  }

  .nav-toggle {
    position: relative;
    z-index: 999;
    .fa {
      @include transition(padding, 0.2s, ease);
      z-index: 999;
      color: $white !important;
      font-size: 2.5rem;
      padding: 27px 25px;
      position: fixed;
    }
  }

  #main-nav-toggle {
    @extend .nav-toggle;
    float: left;
  }

  #social-nav-toggle {
    @extend .nav-toggle;
    float: right;
    .fa {
      right: 0;
    }
  }

  #main-nav {
    @include transition(left, 0.3s, ease);
    position: fixed;
  	z-index: 998;
  	height: 100%;
  	width: 100%;
  	display: none;
    padding: 80px 50px 0;
    background-color: rgba(44,52,71,0.85) !important;
    &.active {
      display: block;
    }

    .navbar-nav {
      font-family: $heading_font;
      list-style: none;
      margin: 0;
      float: unset;
      padding: 0;
      margin: 0 0 25px;

      > li {
        padding: 0;
        float: none;
        > a {
          color: $white;
          display: block;
          font-size: 2.5rem;
          text-align: left;
          font-family: $body_font;
          font-style: normal;

          &:hover,  &:focus {
            color: $blue;
          }
          img {
            display: block;
            height:  60px;
            margin:  0 auto 5px auto;
            width:   60px;
          }
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: $blue;
          pointer-events: none;
          cursor: default;
        }
      }
    }

    .legal {
      font-size: 1.6rem;
      color: $medium_gray;
      font-family: $heading_font;
      font-weight: 500;

      a {
        font-size: 2.5rem;
        display: block;
        color: $white;
        font-family: $body_font;
        font-style: normal;
        margin: 0 0 5px;
        &:hover,  &:focus {
          color: $blue;
        }
      }
    }
  }

  #social-nav {
    margin: 0 0 25px;
    h4 {
      font-size: 1.6rem;
      margin: 0 5px 0 0;
      color: $medium_gray;
    }
    .links {
      a {
        color: $white;
        margin: 0 7px 0 0;
        font-size: 3rem;
        &:hover,  &:focus {
          color: $blue;
        }
      }
    }
  }

  .navbar-default {
    @include transition(all, 0.2s, ease);
    z-index: 996;
    background-color: #F88752;
    padding: 10px 0;
    height: 80px;
    border: 0 !important;
    top: auto;
  }

  @media (max-width: 767px) {
    @include shrink_header;

    .navbar-default {
      box-shadow: none;
    }
    .navbar-header ul {
      display: none;
    }
    .legal {
      font-size: 1.5rem;
      a {
        font-size: 2.5rem;
      }
    }
    #social-nav {
      .links {
        a {
          font-size: 3rem;
        }
      }
    }
  }

  @media (max-width: 449px) {
    #main-nav {
      padding: 70px 30px 0;
    }
  }
}

.pages_page.home_action{
  header#header {
    .navbar-default {
      background-color: transparent;
      border: none;
    }
    &.shrinked .navbar-default {
      background-color: #F88752;
    }
  }
}

.posts_page.blog{
  header#header {
    .navbar-default {
      background: #8197ca;
      border: none;
    }
  }
}

.pages_page.podcast {
  header#header {
    .navbar-default {
      background-color: #f6996b;
    }
  }
}

.pages_page.media_action, .pages_page.media_purple_action {
  header#header {
    .navbar-default {
      background-color: rgba(0, 0, 0, 0.3);
    }
    &.shrinked {
      .navbar-default {
        background-color: $tomato;
      }
    }
  }
}

.pages_page.about_us_action {
  header#header {
    .navbar-default {
      // background-color: $blue;
      background-color: #f6996b;
    }
  }
}
