#pricing {

  section {
  }

  #brief_request_country {
    height: 37px;
  }

  h1, h2, h3 {
    margin-top: 0;
    text-align: center;
    color: #5f5f5f;
  }

  h1 {
    padding: 0;
  }

  h2 {
    margin: 0 0 30px;
    @media(max-width: 449px) {
      margin: 0 0 20px;
    }
  }

  h3 {
    font-size: 2.1rem;
    font-weight: 500;
    @media(max-width: 767px) {
      font-size: 1.9rem;
    }
    @media(max-width: 449px) {
      font-size: 1.7rem;
    }
  }

  h4, h5 {
    max-width: 750px;
    text-align: center;
    margin: 0 auto 10px;
  }

  #headline {
    padding: 160px 0 0;
    background-color: #fff;

    h3 {
      margin: 20px 0;
    }

    @media(max-width: 991px) {
      padding: 150px 0 0;
    }
    @media(max-width: 767px) {
      padding: 115px 0 0;
    }
    @media(max-width: 449px) {
      padding: 105px 0 0;
    }
  }

  .product-tile {
    @extend .tile;
    &.sliders-tile {
      padding: 30px 10px 32px 25px;
      text-align: left;
    }

    @media(max-width: 599px) {
      &.sliders-tile {
        padding: 30px 20px;
      }
    }
  }

  .customise-selector {
    margin-left: -110px;
    margin-top: -60px;
    position: absolute;
    &.hidden {
      display: none;
    }

    @media(max-width: 991px) {
      margin-top: 80px;
    }
    @media(max-width: 449px) {
      margin-top: 60px;
    }
  }

  .sliders-explanation {
    margin: 0 30px 0 0;
    p {
      font-size: 1.5rem;
    }
    h5 {
      text-align: left;
      margin: 15px 0 5px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        padding: 5px 0;
      }
      .icon {
        position: absolute;
        width: 20px;
        text-align: center;
      }
      .fa {
        font-size: 2rem;
        margin: 2px 0 0;
      }
      .text {
        font-size: 1.4rem;
        margin: 0 0 0 35px;
      }
    }

    @media(max-width: 991px) {
      margin: 0 0 40px;
    }
  }

  #social-distribution .product-tile {
    background: linear-gradient(135deg, white 0%, #f2f4ff 100%);

    .product-price {
      background: $purple;
    }
    p.description {
      font-size: 1.5rem;
      margin: 0 auto 10px;
      padding: 0 15px;
      max-width: 650px;
    }
    .fa.active {
      color: $purple;
    }
    .form-control {
      width: 70px;
      display: inline;
      border: 1px solid $light_gray;
      margin: 0 5px 0;
      vertical-align: 35%;
      padding: 6px 8px;
    }
    label {
      margin: 0;
    }

  }

  #management-products {
    .mgmt-product {
      display: inline-block;
      label {
        cursor: pointer;
        .fa {
          transition: all 0.2s ease;
        }
        &:hover {
          .fa {
            color: $purple;
            opacity: 0.7;
          }
        }
        &.active {
          .fa {
            color: $purple;
            opacity: 1;
          }
        }
      }
    }
  }

  #distribution-products {
    h4 {
      margin: 0 0 30px;
    }
    .slider-wrapper .slider-info {
      width: 45px;
    }
    .slider.slider-horizontal {
      width: calc(100% - 165px) !important;
    }
    .slider-title {
      color: $characoal;
      margin: 0;
      .fa {
        margin: -2px 5px 0;
        font-size: 3rem;
        &.active {
          color: $purple;
        }
      }
    }

    @media(max-width: 991px) {
      h4 {
        margin: 0 0 10px;
      }
    }
    @media(max-width: 599px) {
      .slider-title .fa {
        margin: 0;
      }
      .slider-wrapper .slider-info {
        width: 100%;
      }
      .slider.slider-horizontal {
        width: calc(100% - 30px) !important;
      }
      .slider-total {
        top: 3px;
      }
    }
  }

  #save-quote {
    background: #f5f5f5;
    padding: 50px 0;
    overflow: hidden;
    position: relative;

    .shadow {
      box-shadow: 0 0 15px #c3c3c3 inset;
      margin: 0 -20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -20px;
      right: -20px;
      z-index: 1;
      pointer-events: none;
    }
    .container {
      z-index: 2;
      position: relative;
    }
    .form {
      max-width: 700px;
      margin: 0 auto;
      padding: 0 7px;
      text-align: center;
    }
    .form-control {
      border: 1px solid #eaeaea;
    }
    .btn {
      background: $purple;
      margin: 10px 0 0;
      padding: 12px 18px;
    }
    div[class*="col-"] {
      padding: 0 7px;
    }
    .thankyou {
      display: none;
      text-align: center;
      padding: 40px 0;
      h3 {
        margin: 0;
      }
    }

    @media (max-width: 449px) {
      .btn {
        width: calc(100% - 14px);
        margin: 10px 7px 0;
      }
    }
  }

  #review-anchor {
    position: absolute;
    margin-top: -50px;
  }

  #review {
    padding: 80px 0 80px;

    p {
      margin: 20px auto 50px;
    }

    @media(max-width: 449px) {
      padding: 70px 0 60px;
    }
  }

  #terms-wrapper {
    width: 100%;
    margin: 70px auto 0;
    text-align: center;
    p {
      display: inline-block;
      font-size: 1.5rem;
      line-height: 1.7;
    }
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      vertical-align: -25%;
      margin: 0 5px 0;
    }

    @media(max-width: 599px) {
      margin: 50px auto 0;
      p {
        margin: 0 auto 30px;
      }
    }
  }

  #empty-package {
    background: linear-gradient(45deg, #fedad8 0, #fcdccd 100%);
    padding: 40px 15px;
    max-width:  700px;
    margin: 0 auto 20px auto;
    text-align: center;
    border-radius: 4px;
    h3 {
      margin: 0 0 10px;
    }
    h4 {
      margin: 0;
      width: auto;
    }
  }

  // .proceed {
  //   margin: 30px 0 20px;
  // }

  #lead-capture {
    // background: rgba(247, 115, 51, 0.85);
    position: fixed;
    z-index: 10;
    bottom: 17px;
    left: 17px;
    padding: 14px 24px;
    box-shadow: 0 3px 15px #cacaca;
    &:hover {
      opacity: 0.9;
    }

    @media (max-width: 449px) {
      border-radius: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      // background: rgba(247, 115, 51, 1);
      padding: 8px 14px;
    }

  }

  #order-wizard {
    margin: 150px 0 70px;
    padding: 50px 40px 70px;
    border-radius: 5px;
    background: linear-gradient(135deg, #fff6f4 0%, #fff9f5 100%);
    border: 1px solid rgba(224, 229, 230, 0.07);
    @media (max-width: 449px) {
      padding: 30px 15px 70px;
      margin: 57px -15px 0;
      border-radius: 0;
    }
  }

  // .inner {
  //   padding: 50px 40px 60px;
  //   margin: 30px 0 0;
  //   border-radius: 5px;
  //   background: linear-gradient(135deg, #fff6f4 0%, #fff9f5 100%);
  //   border: 1px solid rgba(224, 229, 230, 0.07);
  //
  //   @media(max-width: 449px) {
  //     padding: 40px 15px 60px;
  //     margin: 30px -15px 0;
  //   }
  // }

  #intro-tab .inner {
    background: linear-gradient(135deg, #f9f9f9 0%, #f7f7f7 100%);
  }

  .btn {
    transition: none;
  }

  .wizard-nav {
    text-align: center;
    margin: 10px 0;
    min-height: 0;

    .nav-pills {
      justify-content: space-between;
      display: flex;
      &:before, &:after {
        display: none;
      }
      > li {
        display: inline-block;
        float: none;
        a {
          font-size: 1.5rem;
          padding: 0;
          margin: 5px 10px;
          color: $purple;
          border-bottom: none;
          border-radius: 0;
          font-weight: 700;
          white-space: nowrap;
          filter: grayscale(0.5) brightness(1.25);
        }
        img {
          width: 45px;
          display: block;
          margin: 0 auto 7px;
        }
        &:hover {
          a {
            background-color: transparent;
            filter: none;
          }
        }
        &.active {
          a {
            background-color: transparent;
            filter: none;
          }
        }
      }
    }

    .delimiter {
      display: none;
      border-top: 1px solid $gray;
      width: 50px;
      margin: 30px auto;
    }

    @media (max-width: 991px) {
      margin: 0 0 10px;
      .nav-pills {
        display: block;
        margin: 0 -10px;
        > li {
          a {
            font-size: 1.35rem;
          }
          img {
            width: 30px;
          }
        }
      }
    }
    @media (max-width: 767px) {
      margin: 0 0 15px;
      .nav-pills {
        > li {
          a {
            font-size: 1.5rem;
            margin: 10px;
          }
          img {
            width: 25px;
            vertical-align: -30%;
            display: inline;
            margin: 0 7px 0 0;
          }
        }
      }
    }
    @media (max-width: 449px) {
      margin: 0;
      .nav-pills {
        > li {
          width: 100%;
          a {
            // text-align: left;
            width: 160px;
            margin: 8px auto;
          }
          img {
            display: none;
          }
        }
      }
      .delimiter {
        display: block;
      }
    }
  }

  .progress {
    margin: 0 0 60px;
    width: 100%;

    @media (max-width: 449px) {
      margin: 0;
      position: fixed;
      top: 57px;
      left: 0;
      height: 3px;
      border-radius: 0;
    }
  }

  .progress-bar {
    background-color: $purple
  }

  .pager.wizard {
    position: relative;
    margin: 0;

    li {
      margin: 0;
      display: inline-block;
    }

    .primary {
      margin: 30px 0 0;
    }

    .btn {
      margin: 25px 3px 0;
      min-width: 150px;
    }

    @media (max-width: 499px) {
      .btn {
        margin: 30px 0 0;
        min-width: 245px;
      }
      li + li {
        margin-top: -15px;
      }
    }
  }

  .wizard-start, .wizard-next, .wizard-finish {
    a {
      float: none;
      text-align: center;
      border: 0;
      border-radius: 4px;
      margin: 0;
      &:hover, &:focus, &:active {
        background-color: $blue;
        opacity: 0.9;
        box-shadow: 0 0 5px rgba(0,0,0,0.15);
        border: 0;
      }
    }
  }

  .tile {
    width: 100%;
    padding: 28px 19px 24px 19px;
    margin: 20px 0 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    hr {
      margin: 15px;
    }
    .product-price {
      display: block;
      width: 170px;
      margin: 20px auto 10px;
      font-size: 1.5rem;
      padding: 10px 0;
      border-radius: 3px;
      font-weight: 700;
      color: $white;
    }
  }

  #intro {

    .tile-wrapper {
      float: left;
      width: 33.333%;
      padding: 0 15px;
    }

    .intro-tile {
      @extend .tile;
      box-shadow: none;
      margin: 20px 0 0;
      padding: 35px 25px 45px;
      // border: 1px solid #ccc;
      background: rgba(0, 0, 0, 0.04);
      .number {
        display: inline-block;
        font-weight: 700;
        font-size: 7rem;
        margin: 0 0 20px;
        line-height: 90px;
      }
      h3 {
        font-size: 1.9rem;
      }
      hr {
        margin: 20px;
      }
      &.brief {
        // background: linear-gradient(135deg, #f9fdff 0%, #f1fbff 100%);
        // border: 2px solid #90D3EF;
        h3, .number {
          color: #32a1ca !important;
        }
        hr {
          border-color: rgba(65, 184, 228, 0.25);
        }
      }
      &.customize {
        // background: linear-gradient(135deg, #fffdfc 0%, #fff4ef 100%);
        // border: 2px solid #FCB393;
        h3, .number {
          color: $tomato !important;
        }
        hr {
          border-color: rgba(247, 115, 51, 0.25);
        }
      }
      &.review {
        // background: linear-gradient(135deg, #fafbfd 0%, #eff1ff 100%);
        // border: 2px solid #92A1EB;
        h3, .number {
          color: $purple !important;
        }
        hr {
          border-color: rgba(88, 109, 226, 0.25);
        }
      }
      p {
        font-size: 1.6rem;
        color: #5d5d5d;
      }
      .subtitle {
        font-size: 1.5rem;
        max-width: 300px;
        display: block;
        margin: 0 auto;
        height: 66px;
      }
      .product-description {
        p {
          font-size: 1.5rem;
          line-height: 1.8;
          height: 81px;
        }
      }
    }

    @media (max-width: 991px) {
      .tile-wrapper {
        float: none;
        width: 100%;
      }
      .tile-wrapper + .tile-wrapper {
        margin-top: 27px;
      }
      .intro-tile {
        margin: 20px 30px 0;
        width: calc(100% - 60px);
        .subtitle {
          height: auto;
        }
      }
    }
    @media (max-width: 449px) {
      .intro-tile {
        padding: 35px 25px;
        width: 90%;
        margin: 20px 5% 0;
        h3 {
          font-size: 1.7rem;
        }
        .number {
          font-size: 5.5rem;
          line-height: 70px;
          margin: -10px 0 20px;
        }
      }
    }
  }

  .question {
    margin: 0 -4px;

    span {
      font-size: 1.5rem;
    }

    label {
      cursor: pointer;
      transition: all 0.2s ease;
      display: inline-block;
      border: 1px solid $lighter_gray;
      border-radius: 4px;
      padding: 6px 13px;
      margin: 5px 2px;
      background: $white;
      &.active {
        background: #fff1eb;
        border-color: #FDB08F;
        span {
          font-weight: 500;
        }
      }
    }

    input[type="radio"], input[type="checkbox"] {
      display: none;
    }

    @media (max-width: 449px) {
      label {
        width: 250px;
        margin: 5px auto;
      }
    }
  }

  #customer-specifics {
    text-align: center;

    form {
      // margin: 35px 0 0;
    }

    .question + .question {
      margin-top: 22px;
    }

    h4 {
      text-align: center;
      max-width: none;
      margin: 0 0 5px;
    }

    label {
      &.active {
        background: #fff1eb;
        border-color: #ff8044;
      }
    }

    #customer-info-form {
      max-width: 420px;
      margin: 40px auto 30px;

      input, select {
        border: 1px solid #f3eeea;
        height: 39px;
        border-radius: 3px;
      }
      .country {
        width: calc(33.33% - 8px);
        float: left;
      }
      .phone {
        width: calc(66.66% - 8px);
        float: right;
      }
    }

    @media (max-width: 449px) {
      #customer-info-form {
        margin: 35px auto 20px;
        input, select {
          width: 254px;
          margin-left: auto;
          margin-right: auto;
        }
        .country, .phone {
          width: 254px;
          float: none;
        }
      }
      h4 {
        margin: 0 0 10px;
      }
    }
  }

  .tab-total {
    margin: 40px 0 0;
    h5 {
      font-weight: 300;
      margin: 0;
    }
    span {
      font-weight: 500;
    }
  }

  #podcast-production, #video-production, #visual-production {
    h2 {
      margin: 0 0 50px;
    }

    .slider.slider-horizontal {
      width: calc(100% - 30px);
      .slider-selection {
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.10);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.10);
      }
    }

    @media (max-width: 991px) {
      h2 {
        margin: 0 0 30px;
      }
    }
  }

  .slider-total {
    display: none;
  }

  .sliders-wrapper {
    margin-top: 0;
  }

  .slider-wrapper {
    margin: 5px 0 30px;
  }

  #podcast-production {
    .slider.slider-horizontal {
      .slider-selection {
        background: #FE8D5A;
      }
    }

    .hidden-product {
      margin: 20px 0;
      .btn {
        background: #ff864c;
        border: none;
        padding: 8px 20px;
      }
    }

    @media (max-width: 449px) {
      .hidden-product {
        .btn {
          width: 250px;
        }
      }
    }
  }

  #video-production, #visual-production {
    .slider.slider-horizontal {
      .slider-selection {
        background: #64CAED;
      }
    }
  }

  #video-production {
    .hidden-product {
      .btn {
        background: #3EC2EA;
      }
    }

    .example {
      margin: 10px 0 0 35px;
      a {
        border: 0 none;
        color: $blue;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    #video-sliders {
      .question {
        margin: 30px -4px 40px;

        h5 {
          font-weight: 400;
        }

        label {
          width: calc(50% - 8px);
          height: 130px;
          text-align: center;
          position: relative;
          background: $white;

          img {
            max-width: 100%;
            max-height: 100%;
            filter: grayscale(1);
            opacity: 0.25;
          }

          span {
            position: absolute;
            width: 80px;
            height: 42px;
            top: calc(50% - 21px);
            left: calc(50% - 40px);
            color: #5f5f5f;
          }

          &.active {
            border-color: $blue;
            img {
              filter: none;
              opacity: 0.3;
            }
          }
        }
      }
    }

    @media (max-width: 599px) {
      #video-sliders {
        .question {
          label {
            width: 260px;
            height: 130px;
            margin: 20px auto -5px;
            display: block;
          }
        }
      }
    }
  }

  #visual-production {
    .sliders-wrapper {
      margin-bottom: -20px;
    }
  }

  .social-distribution {
    text-align: center;
    padding: 40px 30px;

    p.centered-text {
      margin: 15px auto 25px;
      max-width: 500px;
    }

    .distribution-product {
      display: inline-block;
      margin: 10px 7px 0;
    }

    label {
      cursor: pointer;

      .fa {
        font-size: 3rem;
      }

      &:hover, &.active {
        .fa {
          color: $purple;
        }
      }
    }

    input[type="checkbox"], input[type="radio"] {
      position: absolute;
      visibility: hidden;
    }

    @media(max-width: 449px) {
      .distribution-product {
        margin: 10px 5px 0;
      }
      label {
        .fa {
          font-size: 3rem;
        }
      }
    }
  }

  .long-handle {
    .slider-handle.custom {
      width: 62px !important;
      margin-left: -31px !important;
    }
    .slider.slider-horizontal {
      margin: 0 31px !important;
      width: calc(100% - 62px) !important;
      .slider-track {
        width: calc(100% + 62px) !important;
        margin: -10px 0 0 -31px !important;
      }
    }
  }

  .hidden-product {
    text-align: center;
    margin: 20px 0 0;

    .btn {
      margin: 5px auto 0;
      &:hover {
        opacity: 0.8;
      }
      &.hidden {
        display: none;
      }
    }
  }

  .product-select {
    display: none;
    margin: 0 0 -15px;
    &.active {
      display: block;
    }
  }

  .product-offer {
    margin: 0 0 10px;
  }

  #frequency {
    h5.warning {
      color: $tomato;
      text-align: center;
      margin: 20px auto;
    }

    input {
      visibility: hidden;
      position: absolute;
    }

    .centered-text {
      max-width: 600px;
      margin: 60px auto 0;
    }

    .terms {
      text-align: center;
      font-size: 1.35rem;
      margin: 40px auto -13px;
    }

    @media (max-width: 449px) {
      .tile-wrapper {
        &:first-child {
          padding-right: 7px;
        }
        &:last-child {
          padding-left: 7px;
        }
      }
    }
  }

  .frequency-tile {
    @extend .tile;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    background: $white;
    &.active {
      background: linear-gradient(135deg, #fff5f1 0%, #ffebe2 100%);
      box-shadow: 0 3px 15px 4px rgba(0, 0, 0, 0.15);
    }
    &:hover {
      background: linear-gradient(135deg, #fff5f1 0%, #ffebe2 100%);
      box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.20);
    }

    h4 {
      color: $tomato;
      pointer-events: none;
    }
    ul {
      list-style: none;
      margin: 15px 0 5px;
      padding: 0;
      pointer-events: none;
    }
    label {
      display: block;
      font-weight: 700;
      margin: 10px 0 5px;
      font-size: 1.4rem;
    }
    span {
      font-weight: 400;
      font-size: 1.8rem;
    }
    img {
      width: 70px;
      margin: 0 0 5px;
    }

    @media (max-width: 449px) {
      padding: 21px 14px 17px 14px;
      margin: 20px 0 0;
      span {
        font-size: 1.6rem;
      }
    }
  }

  #total-price {
    margin: 60px auto 0;
    padding: 30px 0 0;
    text-align: center;
    position: relative;
    &:before {
      height: 1px;
      background: $gray;
      width: 50px;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 25px);
    }

    .inner {
      display: none;
      font-size: 1.8rem;
      &.visible {
        display: block;
      }
    }
    form {
      display: inline;
      .fa {
        margin: 0 0 0 5px;
        vertical-align: 5%;
      }
    }
  }

  #reset-order {
    background: transparent;
    border: none;
    outline: none;
    display: inline;
    padding: 0;
    margin-right: 0;
    color: $red !important;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  #errors {
    text-align: center;
    color: $red;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 35px 0 -15px;
  }

}
